<section class="todoapp">

  <app-header
  (newItemEvent)="addItem($event)"
  ></app-header>

  <div class="container todoapp-wrapper">

    <app-list *ngIf="items.length!=0"
    [items]="items"
    [filter]="filter"
    (completeItemEvent)="completeItem($event)"
    (deleteItemEvent)="deleteItem($event)"

    ></app-list>

    <!-- footer -->
    <app-footer *ngIf="items.length!=0"
    [items]="items"
    [filter]="filter"
    [changes]="changes"
    (changeFilterEvent)="changeFilter($event)"
    (clearCompleteEvent)="clearComplete()"
    ></app-footer>
  </div>
</section>
